#div-alerts-bootstrap {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

.text-danger {
    color: #f34646 !important;
}

.text-warning {
    color: #e48900 !important;
}

.text-transparent {
    color: #0000002a;
}

.text-marron {
    color: #805300;
}

.text-purple {
    color: #7b4dc0;
}

.text-green {
    color: #007e43;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-transparent {
    background-color: #ffffff75 !important;
}

.bg-info {
    background-color: #34b277 !important;
}

.bg-sistema-uno {
    background-color: #043e69;
}

.bg-danger {
    background-color: #f34646 !important;
}

.bg-warning {
    background-color: #f1b100 !important;
}

.bg-marron {
    background-color: #805300;
}

.bg-purple {
    background-color: #7b4dc0;
}

.bg-sistema-dos {
    background-color: #00b1b9 !important;
}

.bg-green {
    background-color: #007e43;
}

.btn-success {
    background-color: #00b1b9 !important;
    border-color: #00b1b9 !important;
}

.btn-success:hover {
    background-color: #04868d !important;
    border-color: #04868d !important;
}

.btn-success:focus,
.btn-success.focus {
    box-shadow: 0 0 0 0.2rem rgba(2, 151, 161, 0.5) !important;
}

.btn-primary {
    background-color: #043e69 !important;
    border-color: #043e69 !important;
}

.btn-danger {
    background-color: #f34646 !important;
    border-color: #f34646 !important;
}

.btn-info {
    background-color: #34b277 !important;
    border-color: #34b277 !important;
    color: white !important;
}

.btn-info:hover {
    background-color: #009751 !important;
    border-color: #009751 !important;
}

.btn-info:focus,
.btn-info.focus {
    box-shadow: 0 0 0 0.2rem rgba(61, 145, 44, 0.5) !important;
}


.btn-marron {
    background-color: #ad7100 !important;
    border-color: #ad7100 !important;
    color: white !important;
}

.btn-marron:hover {
    background-color: #805300 !important;
    border-color: #805300 !important;
}

.btn-marron:focus,
.btn-marron.focus {
    box-shadow: 0 0 0 0.2rem rgba(224, 153, 0, 0.5) !important;
}

.btn-warning {
    background-color: #8755d3 !important;
    border-color: #8755d3 !important;
    color: white !important;
}

.btn-warning:hover {
    background-color: #6740a1 !important;
    border-color: #6740a1 !important;
}

.btn-warning:focus,
.btn-warning.focus {
    box-shadow: 0 0 0 0.2rem rgba(103, 64, 161, 0.5) !important;
}

.btn-outline-success {
    color: #00b1b9 !important;
    border-color: #00b1b9 !important;
}

.btn-outline-success:hover {
    color: white !important;
    background-color: #00b1b9 !important;
    border-color: #00b1b9 !important;
}

.btn-outline-success:active {
    color: #ffffff !important;
    background-color: #04868d !important;
    border-color: #04868d !important;
}

.btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(12, 227, 255, 0.5) !important;
}

.btn-outline-warning {
    color: #6740a1 !important;
    border-color: #6740a1 !important;
}

.btn-outline-warning:hover {
    color: white !important;
    background-color: #6740a1 !important;
    border-color: #6740a1 !important;
}

.btn-outline-warning:active {
    color: #ffffff !important;
    background-color: #6740a1 !important;
    border-color: #6740a1 !important;
}

.btn-outline-warning:focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 34, 255, 0.5) !important;
}

.btn-xs {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.text-sistema-uno {
    color: #1c328a;
}

.hover-sistema-uno:hover {
    background-color: #00b1b9;
    color: white;
}

.bg-sistema-light {
    background-color: #2ca3c6;
}

.bg-list {
    background-color: #dfdfdf;
}

.menu-border {
    border-color: #6790b9;
}

.link-sistema {
    color: black;
    text-decoration: none;
}

.link-sistema:hover {
    color: #00b1b9;
    text-decoration: underline;
}

.link-danger:hover {
    color: red !important;
}

.decoration-link {
    color: #00b1b9;
}

.link-hover:hover {
    text-decoration: underline !important;
}

.hidden-button:active {
    outline: none !important;
    box-shadow: none !important;
}

.hidden-button {
    outline: none !important;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: inherit !important;
    box-shadow: none !important;
}

.accordion-button:focus,
.accordion-button.active {
    box-shadow: none;
    background-color: transparent;
    color: inherit;
}

.offcanvas {
    z-index: 9999;
    /* Cambia este valor seg��n tus necesidades */
}

@media (max-width: 576px) {

    /* Para dispositivos con un ancho m��ximo de 576px */
    .offcanvas {
        width: 75%;
    }

    .modal {
        z-index: 9990 !important;
        /* Establece el z-index para todos los modales */
    }

    .hidde-month {
        visibility: hidden;
        /* Hace que el campo sea invisible */
        position: absolute;
        /* Lo saca del flujo visual de la página */
        width: 0;
        /* No ocupa espacio */
        height: 0;
        padding: 0;
    }
}

.grafico-pastel {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    position: relative;
}

.total-items {
    width: 75%;
    height: 75%;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .page-link {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    color: #043e69;
}

.pagination .page-link:hover {
    background-color: #e9ecef;
    color: #00b1b9;
}

.pagination .page-item.active .page-link {
    background-color: #043e69;
    color: white;
}

.pagination .page-link:focus {
    box-shadow: 0 0 5px rgb(58, 225, 255);
}

.dropdown-item.active {
    color: #fff;
    background-color: #00b1b9;
}

/* Estilo cuando el elemento está enfocado */
.dropdown-item:focus {
    color: #fff;
    background-color: #00b1b9;
}

.dropdown-item.disabled {
    color: white;
    pointer-events: none;
}
